@import "tailwindcss";

:root {
  --background: #050E12;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Gilroy", system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}


@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


.card-cutout {
  -webkit-mask:
    radial-gradient(
      circle 34px at calc(100% - 28px) calc(100% - 28px),
      transparent 98%,
      black 100%
    );
  mask:
    radial-gradient(
      circle 34px at calc(100% - 28px) calc(100% - 28px),
      transparent 98%,
      black 100%
    );
}


.card-cutout-large {
  -webkit-mask:
    radial-gradient(
      circle 48px at calc(100% - 36px) calc(100% - 36px),
      transparent 98%,
      black 100%
    );
  mask:
    radial-gradient(
      circle 48px at calc(100% - 36px) calc(100% - 36px),
      transparent 98%,
      black 100%
    );
}
